{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home - Music Forest HTML Template</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <!-- Preloader CSS -->
        <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
        <!-- DL Menu CSS -->
        <link href="{% static 'js/dl-menu/component.css' %}" rel="stylesheet">
        <!-- Slick Slider CSS -->
        <link href="{% static 'css/slick.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet"/>
        <!-- jquery.bxslider CSS -->
        <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
        <!--Player Css-->
        <link href="{% static 'js/jplayer/jplayer.uno.css' %}" rel="stylesheet" />
        <!--black-style Css-->
        <link href="{% static 'css/black-style.css' %}" rel="stylesheet" />
        <!-- Fav icon -->
        <link rel="icon" type="icon" sizes="96x96" href="fonts/fav.png' %}">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/svg-icons.css' %}" rel="stylesheet">
        <!-- Pretty Photo CSS -->
        <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
        <!-- animation CSS -->
        <link href="{% static 'css/animation.css' %}" rel="stylesheet">
        <!-- Range slider CSS -->
        <link href="{% static 'css/range-slider.css' %}" rel="stylesheet">
        <!-- Typography CSS -->
        <link href="{% static 'css/typography.css' %}" rel="stylesheet">
        <!-- Widget CSS -->
        <link href="{% static 'css/widget.css' %}" rel="stylesheet">
        <!-- Shortcodes CSS -->
        <link href="{% static 'css/shortcodes.css' %}" rel="stylesheet">
        <!-- Custom Main StyleSheet CSS -->
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <!-- Color CSS -->
        <link href="{% static 'css/color.css' %}" rel="stylesheet">
        
        <!-- Responsive CSS -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    </head>

    <body class="msl-black">
    {% block content %}

    {% endblock %}
            <!--Jquery Library-->
            <script src="{% static 'js/jquery.js' %}"></script>
            <!--Bootstrap core JavaScript-->
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <!--Slick Slider JavaScript-->
            <script src="{% static 'js/slick.min.js' %}"></script>
            <!-- Player JavaScript -->
            <script type="text/javascript" src="{% static 'js/jplayer/jplayer.jukebox.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jplayer/jquery.jplayer.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jplayer/jplayer.playlist.min.js' %}"></script>
            <!--Dl Menu Script-->
            <script src="{% static 'js/dl-menu/modernizr.custom.js' %}"></script>
            <script src="{% static 'js/dl-menu/jquery.dlmenu.js' %}"></script>
            <!--chosen JavaScript-->
            <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
            <!--downcount JavaScript-->
            <script src="{% static 'js/downcount.js' %}"></script>
            <!--Pretty Photo JavaScript-->
            <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
            <!--masonry JavaScript-->
            <script src="{% static 'js/masonry.min.js' %}"></script>
            <!--Range slider JavaScript-->
            <script src="{% static 'js/range-slider.js' %}"></script>
            <!--Search script JavaScript-->
            <script src="{% static 'js/search-script.js' %}"></script>
            <!--Custom sidebar-->
            <script src="{% static 'js/sidebar.min.js' %}"></script>
            <!-- bxslider-->
            <script src="{% static 'js/jquery.bxslider.js' %}"></script>
            <!-- video-->
            <script src="{% static 'js/video.js' %}"></script>   
            <!-- waypoint-->
            <script src="{% static 'js/waypoint.js' %}"></script>
            <!--Custom JavaScript-->
            <script src="{% static 'js/custom.js' %}"></script>
    
      </body>
    </html>
    